{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>СДЕК - система управления перевозками</title>

    <link rel="stylesheet" href="{% static 'css/bootstrap.css' %}">
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
</head>
<body style="padding: 10px">
<h1>АКТ № {{ shipping.id }} от {{ shipping.updated|date }}</h1>
<hr>
<p>Исполнитель: ООО "СДЕК"</p>
<p>Заказчик: {{ shipping.assignment.customers.type }} "{{ shipping.assignment.customers }}"</p>
<table class="table table-bordered">
    <thead>
    <tr>
        <th scope="col">#</th>
        <th scope="col">Наимеванование работ, услуг</th>
        <th scope="col">Количество</th>
        <th scope="col">Цена, руб.</th>
    </tr>
    </thead>
    <tbody>
    <tr>
        <th scope="row">1</th>
        <td>Перевозка грузов</td>
        <td>1</td>
        <td>{{ shipping.assignment.cost }}</td>
    </tr>
    </tbody>
</table>
<p>Итого: {{ shipping.assignment.cost }} руб.</p>
<p>С учетом НДС: {{ vat }} руб.</p>
<div style="display: flex; justify-content: space-around">
    <p>Подпись исполнителя: _________________</p>
    <p>Подпись заказчика: _________________</p>
</div>
</body>
</html>