{% extends 'base.html' %}
{% block header %}Контрагенты{% endblock %}
{% block content %}
    <div class="action-menu mt-">
        <a href="{% url 'counterparties:create' %}" class="btn btn-primary">Добавить контрагента</a>
    </div>
    <hr>
    <div class="table-wrapper">
        <table class="table table-hover">
            <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">Наименование организации</th>
                <th scope="col">Представитель</th>
                <th scope="col">Контактный номер</th>
                <th scope="col">Тип организации</th>
                <th scope="col"></th>
                <th scope="col"></th>
            </tr>
            </thead>
            <tbody>
            {% for obj in object_list %}
                <tr>
                    <th scope="row">{{ obj.id }}</th>
                    <td>{{ obj.organization_name }}</td>
                    <td>{{ obj.representative }}</td>
                    <td>{{ obj.phone_number }}</td>
                    <td>{{ obj.type }}</td>
                    <td><a href="{% url 'counterparties:edit' obj.id %}" class="link-info"
                           style="color: #0a58ca">Детали</a></td>
                    <td><a href="{% url 'counterparties:delete' obj.id %}" class="link-danger"
                           style="color: #dc3545">Удалить</a></td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}