{% extends 'chat/chat_base.html' %}
{% block header %}
    Чат с {{ driver }}
{% endblock %}
{% block content %}
    <div class="chat" style="overflow-y: auto; overflow-x: hidden; height: 100%">
        {% for message in messages %}
            {% if message.sender == message.Sender.DRIVER %}
                <div class="message-row message-from-driver">
                    <p class="message-box driver-message-box">{{ message }}</p>
                </div>
            {% else %}
                <div class="message-row message-from-operator">
                    <p class="message-box operator-message-box">{{ message }}</p>
                </div>
            {% endif %}
        {% endfor %}
    </div>
    <div class="chat-input">
        <form action="{% url 'chat:chat-room' driver.id %}" method="post" style="display: flex">
            {% csrf_token %}
            <input autocomplete="off" type="text" name="message" class="form-control mx-1" required="">
            <input class="btn btn-primary mx-1" type="submit" value="Отправить">
        </form>
    </div>
{% endblock %}