{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>СДЕК - система управления перевозками</title>

    <link rel="stylesheet" href="{% static 'bootstrap-5.2.3/dist/css/bootstrap.css' %}">
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
</head>
<body>
<div class="vh-100 d-flex" style="background-color: #ededed">
    {% include 'includes/sidebar.html' %}
    <div class="content-wrapper px-4 py-3">
        <div class="header px-4 py-2">
            <h2>{% block header %} {% endblock %}</h2>
        </div>
        <form action="{% block form-action %}{% endblock %}" method="post" class="main-form">
            {% csrf_token %}
            <div class="action-menu mt-4 mb-4">
                {% block action-menu %}
                {% endblock %}
            </div>
            <div class="main-block p-3">
                {% block content %}
                {% endblock %}
            </div>
        </form>
    </div>
</div>

<script src="{% static 'bootstrap-5.2.3/dist/js/bootstrap.min.js' %}"></script>
</body>
</html>